.navigation {
    text-align: center;
    margin-bottom: 20px;
}

.navigation select {
    padding: 5px;
    font-size: 16px;
}

.navigation option {
    font-size: 14px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

a  {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    display: flex;
}

td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.pc-link {
    display: inline-block;
    text-decoration: none;
    color: #4285f4;
}

.pc-link:hover {
    text-decoration: underline;
}