<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard Pokémon</title>
    <link rel="stylesheet" th:href="@{/css/user/leaderboard.css}">
</head>
<body>



<h2>Leaderboard Pokémon</h2>

<div class="navigation">
    <label for="filterDropdown">Filtros:</label>
    <select id="filterDropdown" onchange="handleFilterChange(this)">
        <option value="/leaderboard">Pokémon</option>
        <option value="/leaderboard/score">Score</option>
    </select>
</div>

<table>
    <thead>
    <tr>
        <th>Posición</th>
        <th>Entrenador</th>
        <th>Pokémon Registrados</th>
        <th>Puntuación</th>
        <th>PC</th>
    </tr>
    </thead>
    <tbody>
    <!-- Aquí se deben insertar dinámicamente las filas de la tabla con los datos del leaderboard -->
    <tr th:each="user, posStat : ${users}">
        <td th:text="${posStat.count}"></td>
        <td>
            <a th:href="@{https://www.twitch.tv/{username}(username=${user.username})}">
                <img th:src="@{${user.avatar}}" alt="Avatar">
                <p th:text="${user.username}"></p>
            </a>
        </td>
        <td th:text="${user.pokemons.size()}"></td>
        <td th:text="${user.score}"></td>
        <td>
            <a class="pc-link" th:href="@{/pokemon/{username}(username=${user.username})}">
                <img src="https://archives.bulbagarden.net/media/upload/thumb/6/61/Red_on_computer.png/220px-Red_on_computer.png" alt="PC">
            </a>
        </td>
    </tr>
    <!-- Puedes repetir este patrón para más usuarios -->
    </tbody>

</table>

    <script>
        function handleFilterChange(dropdown) {
            window.location.href = dropdown.options[dropdown.selectedIndex].value;
        }

        // Seleccionar la opción correcta basada en la URL actual
        document.addEventListener('DOMContentLoaded', function() {
            var currentPath = window.location.pathname;
            var dropdown = document.getElementById('filterDropdown');

            for (var i = 0; i < dropdown.options.length; i++) {
                if (dropdown.options[i].value === currentPath) {
                    dropdown.selectedIndex = i;
                    break;
                }
            }
        });
    </script>


</body>
</html>
